# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment
.env
.env.*

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Logs
*.log

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# Build
build/
dist/
*.egg-info/

# SQLite
*.db
*.sqlite
*.sqlite3

# data
*.pdf

# LangSmith / LangGraph (필요 시)
.langgraph_api/